<h1><%= title %></h1>

<%- include('../partials/messages') %>
<h2>Log in successful</h2>
<% if (loggedin) { %>
<h2>Welcome, <%= accountData.account_firstname %></h2>
<p>
  <a
    href="/account/update/<%= accountData.account_id %>"
    title="manage inventory"
    >Manage Account</a
</p>
<% } %>
<% if (accountData.account_type == 'Employee' || accountData.account_type == 'Admin') { %>
<h3>Manage Inventory</h3>
<p><a href="/inv/" title="manage inventory">Manage Inventory</a></p>
<% } %>
<form action="/account/mfa/<%= accountData.account_id %>" method="get">
  <% if (!accountData.totp_enabled) { %>
    <button type="submit">Add TOTP</button>
  <% } else { %>
    <button type="submit">Refresh TOTP</button>
  <% } %>
</form>
