<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div id="index-content-area">
      <div id="body-content">
        <div id="wrapper">
          <%- include('../partials/header') %> <%-
          include('../partials/navigation') %>
        </div>
        <main><%- body %> <%- include('../partials/footer') %></main>
      </div>
    </div>
  </body>
</html>
